<!DOCTYPE html>
<html>
  <head>
    <title>Inferno</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1 id="top-row"> Brookwood Ultimate </h1>
      <h3 id="top-row"> Information about Brookwood High School's Ultimate Program </h3>
    </div>
    <div id="main">
      <ul class="">
        <a href="/home"><button type="button">Home</button></a>
        <a href="/faq"><button type="button">FAQ</button></a>
        <a href="/calendar"><button type="button">Calendar</button></a>
        <a href="/about"><button type="button">About</button></a>
        <a href="/media"><button type="button">Media</button></a>
        <a href="/teams"><button type="button">Teams</button></a>
        <a href="/partners"><button type="button">Partners</button></a>
      </ul>
    </div>
    <div id="right-bar">
      <% unless current_page?('/calendar') %>
        <iframe src="https://calendar.google.com/calendar/embed?src=96vqqmsgjibsfloauh31iesel8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>
      <% end %>

      <a class="twitter-timeline" href="https://twitter.com/InfernoUltimate?ref_src=twsrc%5Etfw" data-width="400"data-height="400">Tweets by InfernoUltimate</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
